
{% load static %}

<!-- <form action="">
    <input type="text" placeholder="e-mail...">
    <input type="text" placeholder="username...">
    <input type="password" placeholder="password...">
    <input type="password" placeholder="confirm password">
    <button>Inregistare</button>
</form> -->

<!-- {{form}} -->
<!-- <form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Inregistrare</button>
</form> -->
<!-- {% if form.errors %}
<div class="alert alert-danger">
    <strong>{{ form.errors }}</strong>
</div>
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    <div class = "form-group">
        {{form.username}}
    </div>
    <div class = "form-group">
        {{form.email}}
    </div>
    <div class = "form-group">
        {{form.password1}}
    </div>
    <div class = "form-group">
        {{form.password2}}
    </div>
    <button type="submit">Inregistrare</button>
</form> -->
<!-- <textarea name="" id="" cols="30" rows="10"></textarea> -->

<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conectare</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<section class="register">
    <h2>Conectare</h2>

    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>{{ form.errors }}</strong>
    </div>
    {% endif %}
    {% if messages %}
        {%  for i in messages %}
            <div class="alert alert-{{i.tags}}"><strong>{{i}}</strong></div>
        {% endfor %}
    {% endif %}
    <p>Nu aveti cont?<br> Nu e panica! <br><strong><a href="{% url 'userauths:sign-up' %}"> Inscrieti-va!</a></strong></p>
    <form action="" method="POST">
        {% csrf_token %}

        <!-- <div class="form-group">
            <label for="id_email">E-mail</label>
            {{ form.email }}
        </div>

        <div class="form-group">
            <label for="id_password1">Parolă</label>
            {{ form.password }}
        </div> -->

        <!--  We have to build it from scracth this time -->

        <div class="form-group">
            <label for="id_username">Nume de utilizator/e-mail</label>
            <input id="username" type="text" required name="email" placeholder="Nume de utilizator sau email">
        </div>

        <div class="form-group">
            <label for="id_password">Parolă</label>
            <input type="password" required name="password" placeholder="Parola">
        </div>

        <button type="submit" class="btn">Conectare</button>
    </form>
</section>
<!-- <script src="https:://code.jquery.com/jquery-3.5.1.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    setTimeout(() => {
        $(".alert").fadeOut(500, function() {
            $(this).remove();
        });
    }, 3000);
</script>